{% extends "main/block.html" %}

{% block anime %}
<body>
    <div class="anime-list">
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/52991/preview_alt-f180ae801fddf9551e27aff2d96f2112.jpeg" alt="Название аниме">
                <h3>Провожающая в последний путь Фрирен</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/5114/preview_alt-ba65e789c26d848f95418b3f8718b525.jpeg" alt="Название аниме">
                <h3>Стальной алхимик: Братство</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview_2x-4c8f76b07b13926473b42ecb47aec264.webp" alt="Название аниме">
                <h3>Врата Штейна</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview_2x-4c8f76b07b13926473b42ecb47aec264.webp" alt="Название аниме">
                <h3>Врата Штейна</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview_2x-4c8f76b07b13926473b42ecb47aec264.webp" alt="Название аниме">
                <h3>Врата Штейна</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview_2x-4c8f76b07b13926473b42ecb47aec264.webp" alt="Название аниме">
                <h3>Врата Штейна</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview_2x-4c8f76b07b13926473b42ecb47aec264.webp" alt="Название аниме">
                <h3>Врата Штейна</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview_2x-4c8f76b07b13926473b42ecb47aec264.webp" alt="Название аниме">
                <h3>Врата Штейна</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview_2x-4c8f76b07b13926473b42ecb47aec264.webp" alt="Название аниме">
                <h3>Врата Штейна</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview_2x-4c8f76b07b13926473b42ecb47aec264.webp" alt="Название аниме">
                <h3>Врата Штейна</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview_2x-4c8f76b07b13926473b42ecb47aec264.webp" alt="Название аниме">
                <h3>Врата Штейна</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview_2x-4c8f76b07b13926473b42ecb47aec264.webp" alt="Название аниме">
                <h3>Врата Штейна</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview_2x-4c8f76b07b13926473b42ecb47aec264.webp" alt="Название аниме">
                <h3>Врата Штейна</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview_2x-4c8f76b07b13926473b42ecb47aec264.webp" alt="Название аниме">
                <h3>Врата Штейна</h3>
            </a>
        </div>
        <div class="anime-item">
            <a href="#">
                <img src="https://desu.shikimori.one/uploads/poster/animes/9253/preview_2x-4c8f76b07b13926473b42ecb47aec264.webp" alt="Название аниме">
                <h3>Врата Штейна</h3>
            </a>
        </div>
        
        <!-- Добавьте другие элементы списка аниме здесь -->
    </div>
    <!-- Остальное содержимое вашей страницы -->
</body>
</body>
{% endblock %}


{% block title %} Аниме {% endblock %}